@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body{
  font-family: 'poppins', sans-serif;
  background: #FCFCFC;
}

.navbar-text{
  font-size: 30px;
  color: #fcfcfc;
  font-weight: bold;
}

.offcanvas-body .nav-link{
  font-size: 18px;
}

.seta { 
  grid-area: 1 / 1 / 2 / 2; 
  margin-top: 20px;
  margin-left: 20px;
}

.localizacao{
  height: 100vh;
  z-index: -1;
  position: fixed;
  top: 0;
}