@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body{
  font-family: 'poppins', sans-serif;
  background: #FCFCFC;
}

.navbar-text{
  font-size: 30px;
  color: #fcfcfc;
  font-weight: bold;
}

.offcanvas-body .nav-link{
  font-size: 18px;
}

.grid_tele {
display: grid;
grid-template-columns: 0.25fr 1fr 0.25fr;
grid-template-rows: 1fr 0.5fr 0.85fr 0.45fr 0.5fr 0.5fr 0.45fr 0.5fr 0.5fr 0.45fr 0.5fr 0.5fr 0.45fr 0.5fr 0.5fr 0.45fr 0.5fr 0.5fr 0.45fr 0.5fr 0.35fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.seta { 
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 20px;
  margin-left: 20px;
}

.title { 
  grid-area: 2 / 2 / 3 / 3;
  color: #09389C;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
}

.tele1 { 
  grid-area: 4 / 2 / 5 / 3;
  text-align: left;
  color: #09389c;
  margin-left: 18px;
  font-size: 20px;
}

.line1 { 
  grid-area: 5 / 2 / 6 / 3; 
  text-align: center;
}

.tele2 { 
  grid-area: 7 / 2 / 8 / 3; 
  text-align: left;
  color: #09389c;
  margin-left: 18px;
  font-size: 20px;
}

.line2 { 
  grid-area: 8 / 2 / 9 / 3; 
  text-align: center;
}

.tele3 { 
  grid-area: 10 / 2 / 11 / 3; 
  text-align: left;
  color: #09389c;
  margin-left: 18px;
  font-size: 20px;
}

.line3 { 
  grid-area: 11 / 2 / 12 / 3;
  text-align: center;
}

.tele4 { 
  grid-area: 13 / 2 / 14 / 3; 
  text-align: left;
  color: #09389c;
  margin-left: 18px;
  font-size: 20px;
}

.line4 { 
  grid-area: 14 / 2 / 15 / 3; 
  text-align: center;
}

.tele5 { 
  grid-area: 16 / 2 / 17 / 3; 
  text-align: left;
  color: #09389c;
  margin-left: 18px;
  font-size: 20px;
}

.line5 { 
  grid-area: 17 / 2 / 18 / 3;
  text-align: center;
}

.tele6 { 
  grid-area: 19 / 2 / 20 / 3; 
  text-align: left;
  color: #09389c;
  margin-left: 18px;
  font-size: 20px;
}

.line6 { 
  grid-area: 20 / 2 / 21 / 3;  
  text-align: center;
}